{templateType App\UI\BaseTemplate}

{layout $layoutFile}

{block h1}{_'header_users'}{/block}

{block content}

    {control grid}
    {embed basicModal, 'form-new'}
        {block title}{_'header_newUser'}{/block}
        {block body}{embed basicForm, formNew}{/embed}{/block}
    {/embed}
{/block}